* {
    padding: 0;
    margin: 0;
}
.contain {
    width: 360px;
    height: 630px;
    background: #00addd;
    margin: 0 auto;
    position: relative;
}
.func {
    width: 100%;
    position: absolute;
    background: green;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.fa-play {
    display: inline-block;
    /*padding: 0 30px;*/
    text-align: center;
}
.fa-step-backward {
    display: inline-block;
    padding: 0 30px;
    text-align: center;
}
.fa-step-forward {
    display: inline-block;
    padding: 0 30px;
    text-align: center;
}
